@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i&subset=cyrillic');

html, body {
    font-family: 'Montserrat', sans-serif;
    
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #fff;
}

body, a {
    color: #fff;
}

#body_wrapper {
    position: absolute;
    background: rgba(0, 0, 0, .65);
    width: 100%;
}

#body {
    margin: 1em;
}